# dataset
datasets
evaluate

# pytorch
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio

# spacy
# spacy<3.8.0

# nltk
nltk

# transformers
transformers
accelerate>=0.26.0
seqeval

# https://github.com/yumoh/torchcrf
# torchcrf

# openai
# openai
